
.Buttoncalc{
    width: var(--widthbtn);
    height: 40px;
    background-color: rgb(54, 52, 52);
    margin: 3px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgb(50, 43, 43);
    color: white;
    font-size: calc(var(--widthbtn)/2);
    transition: all 500ms;
}


.Buttoncalc:hover{
    box-shadow: 1px 1px 5px rgb(48, 32, 150);
    cursor: pointer;
    background-color: rgb(208, 204, 204);
    color: rgb(15, 14, 14);
}

.Buttoncalc:active{
    box-shadow: 1px 1px 5px black inset;
}